@model Result[]

<h1>@TempData.Peek("QueryDescription")</h1>
<p>Page @TempData.Peek("Page")</p>
<table class="table table-striped">
    <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Link</th>
    </tr>
    @foreach (Result r in Model)
    {
        <tr>
            @if (r.thumbnail != null)
            {
                <td><img src="@r.thumbnail" /></td>
            }
            <td>@r.title</td>
            <td>@r.ingredients</td>
            <td><a href="@r.href">View Recipe</a></td>
            <td>
                <form asp-controller="LetsEat" asp-action="GetRecipe" method="get">
                    <input type="hidden" name="title" value="@r.title" />
                    <input type="hidden" name="href" value="@r.href" />
                    <input type="hidden" name="ingredients" value="@r.ingredients" />
                    <input type="hidden" name="thumbnail" value="@r.thumbnail" />
                    <input type="submit" value="Add to Favorites" />
                </form>
            </td>
        </tr>
    }
</table>
@{
    int pageNumber = (int)TempData.Peek("Page");
    int nextPage = pageNumber;
    nextPage++;

    if (pageNumber > 1)
    {
        int previousPage = pageNumber;
        previousPage--;
        <form asp-action="SearchResults" asp-route-DishName=@TempData.Peek("DishName") asp-route-Ingredients=@TempData.Peek("Ingredients") asp-route-Page=@previousPage><input class="btn-info" type="submit" value="Back" /></form>
    }
}
<form asp-action="SearchResults" asp-route-DishName=@TempData.Peek("DishName") asp-route-Ingredients=@TempData.Peek("Ingredients") asp-route-Page=@nextPage><input class="btn-info" type="submit" value="More Recipes" /></form>