@model List<FavoriteRecipeViewModel>

<table class="table table-bordered table-striped table-dark table-hover">
    <tr>
        <th>Name</th>
        <th>Link to Recipe</th>
        <th><a asp-action="ShowAllFavorites" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CategorySortParm"]">@Html.DisplayNameFor(model => model[0].Category)</a></th>
        <th><a asp-action="ShowAllFavorites" asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["RatingSortParm"]">@Html.DisplayNameFor(model => model[0].Rating)</a></th>
    </tr>
    
    @foreach (FavoriteRecipeViewModel r in Model)
    {
        <tr>
            <td>@r.Title</td>
            <td>@r.RecipeUrl</td>
            <td>@r.Category</td>
            <td>@r.Rating</td>
            <td>
                <a asp-controller="LetsEat" asp-action="EditFavorite" asp-route-id="@r.RecipeID">Edit</a>
            </td>
        </tr>
    }
</table>
