@model List<FavoriteRecipes>

<div class="jumbotron">
    <h1 class="body">Your Favorite Recipes</h1>
</div>
<table class="table table-bordered table-striped table-dark table-hover">
    <tr>
        <th style="text-align:center">Link</th>
        <th style="text-align:center">Recipe Name</th>
        <th style="text-align:center">Ingredients</th>
        <th style="text-align:center">Rating</th>
        <th style="text-align:center">Category</th>
        <th style="text-align:center">Update</th>
        <th style="text-align:center">Remove</th>
    </tr>
    @if (Model != null)
    {
        @foreach (FavoriteRecipes r in Model)
        {
            <tr>
                @if (!string.IsNullOrEmpty(r.Thumbnail))
                {
                    <td><a href="@r.RecipeUrl"><img src="@r.Thumbnail" /></a></td>
                }
                else
                {
                    <td><a href="@r.RecipeUrl" target="_blank"><img src="~/img/null_img.png" height="110" width="110" /></a></td>
                }
                <td>@r.Title</td>
                <td>@r.Ingredients</td>
                <td>@r.Rating </td>
                <td>@r.Category</td>
                <td><a asp-controller="LetsEat" asp-action="UpdateFavorite" asp-route-id="@r.Id" class="btn btn-success align-content-center">Update Rating and Category</a></td>
                <td><a asp-controller="LetsEat" asp-action="DeleteFavorite" asp-route-id="@r.Id" class="btn btn-danger align">Remove Favorite</a></td>
            </tr>
        }
    }
    else
    {
        <p>Looks empty. Try finding new favorites through our <a asp-controller="Home" asp-action="Index">search tool!</a></p>
    }

</table>