@model List<FavoriteRecipes>

<table class="table table-bordered table-striped table-dark table-hover">
    <tr>
        <th>Recipe Link</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Rating</th>
        <th>Category</th>
        <th>Update Rating and Category</th>
        <th>Remove Favorite</th>
    </tr>

    @foreach (FavoriteRecipes r in Model)
    {
        <tr>
            @if (!string.IsNullOrEmpty(r.Thumbnail))
            {
                <td><a href="@r.RecipeUrl"><img src="@r.Thumbnail" /></a></td>
            }
            else
            {
                <td><a href="@r.RecipeUrl"><img src="~/img/null_img.png" height="110" width="110" /></a></td>
            }
            <td>@r.Title</td>
            <td>@r.Ingredients</td>
            <td>@r.Rating </td>
            <td>@r.Category</td>
            <td><a asp-controller="LetsEat" asp-action="UpdateFavorite" asp-route-id="@r.Id">Update Rating and Category</a></td>
            <td><a asp-controller="LetsEat" asp-action="DeleteFavorite" asp-route-id="@r.Id">Remove</a></td>
        </tr>
    }
</table>
